$mobile-width: 425px;

@mixin clamper($lines-to-clamp) {
    display: -webkit-box;
    -webkit-line-clamp: $lines-to-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}









