:root{
    
--primary-color-nav: #3F3768;
--primary-color-light: #7462E1;
--primary-color-dark: #1D1644;
--primary-font: 'Roboto', sans-serif;
--left-circle:#FAFBFD;
}

*{
    box-sizing: border-box;
    margin:0px;
    font-family: var(--primary-font);
}

body{
    color:white;
    transition: all 1s ease-in-out;
}

main{
   animation: displayBody 2s ease-in-out 0s 1;
   padding-bottom: 20px;

}
#header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    margin:0px 10%;
}
#header>nav span{
    margin: 0px 20px;
}
#header>nav>div:first-of-type span{
    font-size: 3rem;
    font-weight: 900;
    color:var(--primary-color-light);
    cursor: pointer;
}


#header a{
    text-decoration: none;
}

#header>nav>div:nth-child(2)>span{
    font-size: 1rem;
}
#header>nav>div:nth-child(2) a{
    padding: 10px;
    border-radius: 20px;
    color: var(--primary-color-nav);
    border: 1px solid var(--primary-color-light);
    transition: all .4s ease-in-out;
}

#header>nav>div:nth-child(2) a:hover,
#header>nav>div:nth-child(2) a:active{
    background-color: var(--primary-color-light) ;
    color:#FAFBFD;
}
.active-link{
    background-color: var(--primary-color-light) ;
    color:#FAFBFD !important;
}

#header>nav>span:nth-child(2){
    margin-left: auto;
}
section{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#intro-wrapper{
    position: relative;
    height: 90vh;
    width:100%;
    margin:0px;
    padding: 0px;
}
#right-circle{
    background-color:var(--primary-color-light);
    width:80vw;
    height: 80vw;
    position: absolute;
    bottom:-80%;
   right:-35%;
   border-radius: 100%;
   animation: CircleAnime 2s ease-in-out 0s;
}
#left-circle{
    background-color:var(--left-circle);
    width:15vw;
    height: 15vw;
    position: absolute;
    left:-10%;
   border-radius: 100%;
   animation: leftCircleAnime 4s ease-in-out 0s;
   z-index: -1;
}
#image-wrapper{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:90vh;
    background-image: url("/assests/images/heroImage.png");
    background-repeat: no-repeat;
    background-size: 40vw ;
    background-position: 60% -60%;
}
#info-wrapper{
    position: absolute;
    top:20%;
    left:11.2%;
    animation: InfoAnime 2s ease-in-out 0s;

}
#info-wrapper>h1{
    font-size: 4rem;
    color:var(--primary-color-dark);
    line-height: 1.5;
    animation: animateName 2s ease-in-out 0s;
}
#info-wrapper>p {
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.493);
    line-height: 1.8;
}
#info-wrapper>p>span {
    color:white;
    background-color: rgba(0, 0, 255, 0.521);
    font-weight: bold;
}

#info-wrapper> button{
    border:2px solid var(--primary-color-light);
    border-radius: 4px;
    color:var(--primary-color-light);
    margin-top:4rem;
    padding:10px 20px ;
    background-color: white;
    transition: all .4s ease-in-out;
}

#info-wrapper> button:hover,
#info-wrapper> button:active
{
    color:white;
    background-color: var(--primary-color-light);
}

#icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    position: absolute;
    right:20%;
    bottom: 15%;
    height: 120px;
}
#icons>a>div{
    width:20px;
    height:20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon1{
    background-image: url("/assests/images/instagram.png");
}
.icon2{
    background-image: url("/assests/images/draibble.png");
}
.icon3{
    background-image: url("/assests/images/Be.png");
}

@keyframes displayBody {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes CircleAnime {
    0% {
        width: 1px;
        height: 1px;
    }

  
    100% {
        width:80vw;
        height: 80vw;
    }
}
@keyframes leftCircleAnime {
    0% {
        width: 1px;
        height: 1px;
    }
    50%{
        width:80vw;
        height: 80vw;
    }
    100% {
        width:15vw;
    height: 15vw;
    }

}

@keyframes InfoAnime {
    0%{
        top:-100%;
    left:-100%;

    }
   
    100%{
        top:20%;
    left:11.2%;
    }
}
@keyframes animateName{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.dark{
    background-color: black;
    color:white;
    filter: invert(100%);
}
.dark img,
.dark #icons,
.dark #image-wrapper
{
    filter:invert(100%) !important;
    filter: brightness(50%);
    filter: contrast(50%);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width:60px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    width:60px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    width:60px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.toggle-wrapper{
    color: var(--primary-color-nav);
}