:root{
--primary-color-nav: #3F3768;
--primary-color-light: #7462E1;
--primary-color-dark: #1D1644;
--primary-font: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0px;
    font-family: var(--primary-font);
}
#header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    font-size: 2rem;
    margin:0px 10%;
}
#header>nav span{
    margin: 0px 20px;
}
#header>nav>div:first-of-type>span{
    font-weight: bold;
    font-weight: 900;
    color:var(--primary-color-light);
}

#header>nav>div:last-of-type>span{
    font-size: 1.5rem;
    color: var(--primary-color-nav);
}
#header>nav>span:nth-child(2){
    display:inline-block;
    margin-left: auto;
}
